
@{
    ViewBag.Title = "ViewThank";
    Layout = "~/Views/Shared/MainLayout.cshtml";
}

<div class="bg-light py-3">
    <div class="container">
        <div class="row">
            <div class="col-md-12 mb-0">
                 <strong class="text-black">Cảm Ơn</strong>
            </div>
        </div>
    </div>
</div>

<div class="site-section">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <span class="icon-check_circle display-3 text-primary"></span>
                <h2 class="display-3 text-black">Cảm Ơn!</h2>
                <p class="lead mb-5">Nếu Bạn Muốn Một Cơ Thể Khỏe Mạnh Hãy Đến Với Chúng Tôi</p>
                <p><a href="shop.html" class="btn btn-md height-auto px-4 py-3 btn-primary">Trởi Lại Cửa Hàng</a></p>
            </div>
        </div>
    </div>
</div>

